<a href="https://colab.research.google.com/github/dhanuprasad2003/ML/blob/main/pandasbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
#dataframe from list of lists
data=[['apple',10,240],['orange',15,150],['grapes',14,80],['pineapple',10,70]]
df1=pd.DataFrame(data,columns=['Friut_name','Quantity','Unit_price'])
df1

  Friut_name  Quantity  Unit_price
0      apple        10         240
1     orange        15         150
2     grapes        14          80
3  pineapple        10          70

In [2]:
#dataframe from a dictionary
data={'Fruit_name':['apple','orange','grapes','pineapple'],'Quantuty':[10,15,14,10],'Unit_price':[240,150,80,70]}
df2=pd.DataFrame(data)
df2

  Fruit_name  Quantuty  Unit_price
0      apple        10         240
1     orange        15         150
2     grapes        14          80
3  pineapple        10          70

In [5]:
#dataFrame with indices of our interset
data={'Fruit_name':['apple','orange','grapes','pineapple'],'Quantity':[10,15,14,10],'Unit_price':[240,150,80,70]}
df3=pd.DataFrame(data,index=['f1','f2','f3','f4'])
df3

   Fruit_name  Quantuty  Unit_price
f1      apple        10         240
f2     orange        15         150
f3     grapes        14          80
f4  pineapple        10          70

In [29]:
#from a list of dictionaries
data=[{'Fruit_name':'apple', 'Quantity':10, 'Unit_price':240}, {'Fruit_name':'orange', 'Quantity':15, 'Unit_price':150}, {'Fruit_name':'grapes', 'Quantity':14, 'Unit_price':80}, {'Fruit_name':'pineapple', 'Quantity':10, 'Unit_price':70}]
df4=pd.DataFrame(data)
df4

  Fruit_name  Quantity  Unit_price
0      apple        10         240
1     orange        15         150
2     grapes        14          80
3  pineapple        10          70

In [30]:
#adding a row in a dataframe
row={'Fruit_name':'litchy','Quantity':10,'Unit_price':80}
df4=df4.append(row, ignore_index=True)
df4

  Fruit_name  Quantity  Unit_price
0      apple        10         240
1     orange        15         150
2     grapes        14          80
3  pineapple        10          70
4     litchy        10          80

In [31]:
#method2
df4.index
df4.loc[len(df4.index)] = ['cherry',5,500]
df4

  Fruit_name  Quantity  Unit_price
0      apple        10         240
1     orange        15         150
2     grapes        14          80
3  pineapple        10          70
4     litchy        10          80
5     cherry         5         500

In [32]:
#adding multiple rows
data=[{'Fruit_name':'mango','Quantity':13,'Unit_price':140},{'Fruit_name':'strawberry','Quantity':8,'Unit_price':250}]
df5=pd.DataFrame(data)
df4=pd.concat([df4,df5],ignore_index=True)
df4

   Fruit_name  Quantity  Unit_price
0       apple        10         240
1      orange        15         150
2      grapes        14          80
3   pineapple        10          70
4      litchy        10          80
5      cherry         5         500
6       mango        13         140
7  strawberry         8         250

In [33]:
#adding a column to the dataset
df4['Total_price']=df4['Quantity']*df4['Unit_price']
df4

   Fruit_name  Quantity  Unit_price  Total_price
0       apple        10         240         2400
1      orange        15         150         2250
2      grapes        14          80         1120
3   pineapple        10          70          700
4      litchy        10          80          800
5      cherry         5         500         2500
6       mango        13         140         1820
7  strawberry         8         250         2000