<a href="https://colab.research.google.com/github/dhanuprasad2003/ML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=[{'Friut_name':'apple','Quantity':10,'Unit_price':240},{'Friut_name':'orange','Quantity':15,'Unit_price':150},{'Friut_name':'grapes','Quantity':14,'Unit_price':80},{'Friut_name':'pineapple','Quantity':10,'Unit_price':70}]
df1=pd.DataFrame(data)
df1

  Friut_name  Quantity  Unit_price
0      apple        10         240
1     orange        15         150
2     grapes        14          80
3  pineapple        10          70

In [1]:
import pandas as pd
data = [{'Fruit_name':'apple', 'Quantity':10, 'Unit_price':240}, {'Fruit_name':'orange', 'Quantity':15, 'Unit_price':150}, {'Fruit_name':'grapes', 'Quantity':14, 'Unit_price':80}, {'Fruit_name':'pineapple', 'Quantity':10, 'Unit_price':70}]
df1=pd.DataFrame(data)
df1

  Fruit_name  Quantity  Unit_price
0      apple        10         240
1     orange        15         150
2     grapes        14          80
3  pineapple        10          70

In [2]:
df1.index
df1.loc[len(df1.index)]=['cherry',5,500]
df1

  Fruit_name  Quantity  Unit_price
0      apple        10         240
1     orange        15         150
2     grapes        14          80
3  pineapple        10          70
4     cherry         5         500

In [4]:
data=[{'Fruit_name':'mango','Quantity':13,'Unit_price':140}]
df2=pd.DataFrame(data)
df1=pd.concat([df1,df2],ignore_index=True)
df1

  Fruit_name  Quantity  Unit_price
0      apple        10         240
1     orange        15         150
2     grapes        14          80
3  pineapple        10          70
4     cherry         5         500
5      mango        13         140
6      mango        13         140

In [5]:
df1.columns=['Friut','Qty','Uprice']
df1

       Friut  Qty  Uprice
0      apple   10     240
1     orange   15     150
2     grapes   14      80
3  pineapple   10      70
4     cherry    5     500
5      mango   13     140
6      mango   13     140

In [6]:
df1=df1.rename(columns={"Fruit":"Fruitname"})
df1

       Friut  Qty  Uprice
0      apple   10     240
1     orange   15     150
2     grapes   14      80
3  pineapple   10      70
4     cherry    5     500
5      mango   13     140
6      mango   13     140

In [12]:
s1=pd.Series(['apple', 'samsung', 'lenovo', 'dell', 'acer'],name='Brand')
s2= pd.Series([100000, 35000, 40000, 42000, 28000],name = 'price')
print(s1)
print(s2)

0      apple
1    samsung
2     lenovo
3       dell
4       acer
Name: Brand, dtype: object
0    100000
1     35000
2     40000
3     42000
4     28000
Name: price, dtype: int64

In [13]:
df3=pd.merge(s1,s2,left_index=True,right_index=True)
df3

     Brand   price
0    apple  100000
1  samsung   35000
2   lenovo   40000
3     dell   42000
4     acer   28000

In [15]:
df4=s1.to_frame()
df4

     Brand
0    apple
1  samsung
2   lenovo
3     dell
4     acer

     Brand
0    apple
1  samsung
2   lenovo
3     dell
4     acer

In [17]:
iris='http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
names=['sepal_length','sepal_width','petal_length','petal_width','class']
df=pd.read_csv(iris,sep=',',names=names)
df

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
df.head(15)

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa

In [19]:
df.shape

(150, 5)

In [20]:
df['sepal_length'].dtype

dtype('float64')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [22]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [23]:
df.loc[5]

sepal_length            5.4
sepal_width             3.9
petal_length            1.7
petal_width             0.4
class           Iris-setosa
Name: 5, dtype: object

In [24]:
df.iloc[5]

sepal_length            5.4
sepal_width             3.9
petal_length            1.7
petal_width             0.4
class           Iris-setosa
Name: 5, dtype: object

In [25]:
df.loc[5:10]['petal_length']

5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    1.5
Name: petal_length, dtype: float64